@use "../main" as main;
@use "../bar/sass/_bar.scss" as bar;
@use "sass:color";

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {
  font-family: main.$font;
  font-size: main.$font_size * 0.9;
  letter-spacing: 0px;

  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  // eventboxes can not take margins so we style its inner box instead
  & > box {
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: linear;

    min-width: 400px;
    border-radius: main.$radius;
    background-color: color.adjust(main.$bg, $alpha: -0.25);
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: main.$window_border;
  }
}

eventbox.Notification > box,
.notification-item {
  &.critical {
    border: main.$window_border;
    border-color: main.$red;

    .header {
      .app-name {
        color: main.$red;
      }

      .app-icon {
        color: main.$red;
      }
    }
  }

  .header {
    padding: 0.2rem;
    color: main.$accent_muted;
    font-weight: normal;

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      font-family: main.$font_digits;
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
      background-color: transparent;

      icon {
        font-size: main.$font_size;
        color: main.$accent;
      }
    }

    button:hover {
      icon {
        color: main.$red;
      }
    }

    button:active {
      icon {
        color: main.$accent_muted;
      }
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: color.adjust(main.$accent_muted, $alpha: -0.8);
  }

  .content {
    margin: 5px;

    & > box {
      margin-left: 5px;
    }

    .summary {
      font-weight: 500;
      color: main.$fg_muted;
    }

    .body {
      font-weight: 400;
      color: main.$fg;
    }

    .image {
      border-radius: main.$radius;
      min-width: 80px;
      min-height: 80px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 0.5rem;
    margin-top: 0;
    padding: 0.2rem;

    button {
      transition-property: color, border-color;
      transition-duration: main.$hover_time;

      background-color: transparent;
      margin: 0 0.3rem;
      min-height: bar.$with_border_height;
      padding: 0 main.$font_size * 0.5;

      color: main.$accent;
      font-weight: 400;

      border: main.$button_border;
      border-color: main.$accent;
      border-radius: main.$radius;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    button:hover {
      color: main.$accent_greyscale;
      border-color: main.$accent_greyscale;
    }

    button:active {
      color: main.$accent_muted;
      border-color: main.$accent_muted;
    }
  }
}
