@use "../main" as main;
@use "sass:color";

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {
  font-family: main.$font;
  font-size: main.$font_size;
  font-weight: 200;
  letter-spacing: 0px;

  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  // eventboxes can not take margins so we style its inner box instead
  & > box {
    min-width: 400px;
    border-radius: main.$radius;
    background-color: color.adjust(main.$bg, $alpha: -0.25);
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: main.$window_border_alt;
  }

  &.critical > box {
    border: 1pt solid main.$red;

    .header {
      .app-name {
        color: main.$red;
      }

      .app-icon {
        color: main.$red;
      }
    }
  }

  .header {
    padding: 0.2rem;
    color: main.$accent;

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
      background-color: transparent;

      icon {
        color: main.$fgMuted;
      }
    }

    button:hover {
      icon {
        color: main.$fg;
      }
    }
    button:active {
      icon {
        color: main.$accentMuted;
      }
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: color.adjust(main.$accentMuted, $alpha: -0.8);
  }

  .content {
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .summary {
      font-weight: 400;
      color: main.$fg;
    }

    .body {
      font-weight: 200;
      color: main.$fgMuted;
    }

    .image {
      border: 1px solid main.$accentMuted;
      margin-right: 0.5rem;
      border-radius: main.$radius;
      min-width: 80px;
      min-height: 80px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 0.5rem;
    margin-top: 0;
    padding: 0.2rem;

    button {
      margin: 0 0.3rem;
      color: main.$accent;
      border: 1px solid main.$accent;
      background-color: transparent;
      border-radius: main.$radius;
      font-weight: 200;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    button:hover {
      color: main.$fg;
      border-color: main.$fg;
    }
    button:active {
      color: main.$accentMuted;
      border-color: main.$accentMuted;
    }
  }
}
