/*

!/astal-widgets
!/bash
!/fastfetch
!/foot
!/fuzzel
!/gtk-*
!/hypr
!/lazygit
!/matugen
!/nvim
!/qt5ct
!/qt6ct
!/shell
!/systemd
!/starship.toml
!/Thunar
!/tmux
!/uwsm
!/xdg-desktop-portal
!/xdg-terminals.list
