// _audio.scss
@use "../../main" as main;
@use "bar" as bar;
@use "sass:color";

window.Bar .ShowAudio {
  transition-property: border-color;
  transition-duration: main.$hover_time;

  background-color: bar.$bar_color;
  border-radius: main.$radius;
  border: main.$button_border;
  border-color: transparent;
  min-height: bar.$with_border_height;
  padding: 0 main.$font_size * 0.75;

  &:hover {
    border-color: main.$fgMuted;
    .Speaker,
    .Microphone {
      color: main.$fgMuted;
    }
  }

  &:active {
    border-color: main.$accentMuted;

    .Speaker,
    .Microphone {
      color: main.$accentMuted;
    }
  }

  .Speaker,
  .Microphone {
    transition-property: color;
    transition-duration: main.$hover_time;

    color: main.$accent;
    &:first-child > label {
      margin-right: main.$font_size * 0.5;
    }

    label {
      font-family: main.$font_digits;
      font-weight: 300;
      font-size: main.$font_size * 1.1;
    }

    &.muted {
      color: main.$accentMuted;
    }

    icon {
      font-size: 16px;
      margin-right: main.$inner_margin * 2;
    }
  }
}

window.Audio {
  .AudioSlider {
    border: main.$window_border;
    min-width: 250px;
    background-color: bar.$window_color;
    border-radius: main.$radius;
    padding: main.$font_size * 0.5 main.$font_size;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    & > separator {
      background-color: color.adjust(main.$accent, $alpha: -0.6);
    }

    * {
      all: unset;
    }

    & > label {
      color: main.$fg;
      font-family: main.$font;
      font-size: main.$font_size;
      font-weight: 300;
      letter-spacing: 0px;
    }

    button {
      transition-property: border-color;
      transition-duration: main.$hover_time;
      min-width: bar.$with_border_height;
      min-height: bar.$with_border_height;
      border-radius: main.$radius;

      border: main.$button_border;

      icon {
        transition-property: color;
        transition-duration: main.$hover_time;
        color: main.$accent;
        font-size: 14px;
      }

      &:hover {
        border-color: main.$fgMuted;
        icon {
          color: main.$fgMuted;
        }
      }

      &:active {
        border-color: main.$accentMuted;
        icon {
          color: main.$accentMuted;
        }
      }

      &.muted {
        border-color: main.$accentMuted;
        icon {
          color: main.$accentMuted;
        }
      }
    }

    trough {
      background-color: transparent;
      border: main.$button_border;
      border-radius: main.$radius;
      margin: 0 5px;
    }

    highlight {
      background: main.$accentMuted;
      border-radius: main.$radius * 0.2;
    }

    slider {
      background-color: main.$fg;
      border-radius: main.$radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em -0.3em;
      transition: main.$hover_time;

      &:hover {
        background-color: main.$fg;
        box-shadow: none;
      }

      &:active {
        background-color: main.$accent;
      }
    }
  }
}
