// _calendar.scss
@use "sass:color";
@use "../../main" as main;
@use "bar" as bar;

window.Bar button.Date {
  background-color: bar.$bar_color;
  border-radius: main.$radius;
  border: main.$button_border;
  border-color: transparent;
  min-height: bar.$with_border_height;
  padding: 0 main.$font_size * 0.75;

  transition-property: border-color;
  transition-duration: main.$hover_time;

  label {
    transition-property: color;
    transition-duration: main.$hover_time;

    font-family: main.$font_digits;
    font-size: main.$font_size * 1.1;
    font-weight: 300;
    color: main.$accent;
  }
  label.Weekday {
    font-family: main.$font;
    font-size: main.$font_size;
    font-weight: normal;
    padding-right: main.$font_size * 0.5;
  }

  &:hover {
    border-color: main.$accent_greyscale;

    label {
      color: main.$accent_greyscale;
    }
  }

  &:active {
    border-color: main.$accent_muted;
    label {
      color: main.$accent_muted;
    }
  }
}

window.Calendar {
  .Calendar {
    border: main.$window_border;
    background-color: bar.$window_color;
    border-radius: main.$radius;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    > * {
      padding: 40px;
    }
  }

  .CalendarPanel {
    background-color: transparent;
    border-radius: main.$radius;
    font-size: 20pt;
    font-family: main.$font_mono;

    &:selected {
      color: main.$bg;
      background-color: main.$accent;
      font-weight: bold;
    }
  }
}
