// _clock.scss
@use "sass:math";
@use "sass:color";
@use "../../main" as main;
@use "bar" as bar;

window.Bar .Time {
  background-color: bar.$bar_color;
  border-radius: main.$radius;
  min-height: bar.$with_border_height;
  padding: 0 main.$font_size * 0.75;
  color: main.$accent;
  font-family: main.$font_digits;
  font-size: main.$font_size * 1.1;
  font-weight: 400;
  letter-spacing: 0px;
  box-shadow: main.$window_shadow;
  border: main.$window_border;
}
