// _media.scss
@use "sass:math";
@use "../../main" as main;
@use "bar" as bar;

$media-height: 500px;
$media-width: math.div(3, 5.2) * $media-height;

window.Bar button.Media {
  border-radius: main.$radius;
  background-color: bar.$bar_color;
  border: main.$window_border_alt;
  border-color: transparent;
  min-width: main.$bar_min_height;
  font-size: 16px;

  @keyframes playing-media {
    to {
      -gtk-icon-transform: rotate(360deg);
    }
  }

  icon {
    transition: main.$hover_time;
    animation: playing-media 2s linear infinite;
    animation-play-state: running;
    border-radius: main.$radius;
    color: main.$accent;
  }

  &.offline icon {
    animation: none;
    -gtk-icon-transform: rotate(0deg);
  }

  &.paused icon {
    animation-play-state: paused;
  }

  &:hover {
    border-color: main.$fg;

    > icon {
      color: main.$fg;
    }
  }

  &:active {
    border-color: main.$accentMuted;

    > icon {
      color: main.$accentMuted;
    }
  }
}

window.Media {
  * {
    all: unset;
    font-family: main.$font;
    letter-spacing: 0px;
  }

  box.Media {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    min-width: $media-width;
    min-height: $media-height;

    border: main.$window_border_alt;
    color: main.$fg;
    background-color: bar.$window_color;
    border-radius: main.$radius;

    &.offline {
      min-height: $media-width;
    }
  }

  .image {
    border-radius: main.$radius;
    background-color: main.$bg;
    $cover_margin: 20px;
    $border_size: 2px;
    border: $border_size solid main.$bg1;
    margin: $cover_margin;
    min-height: $media-height * 0.58 - ($cover_margin * 2) -
      ($border_size * 2) - 1px;
  }

  box.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  icon.image {
    font-size: 128px;
    background-color: transparent;
    color: main.$accent;
  }

  box.interface {
    background-color: transparent;
    min-height: $media-height * 0.42 + 1px;

    &.offline {
      min-height: $media-width;

      icon {
        font-size: 128px;
        margin-top: 60px;
      }
    }
  }

  box.slider-parent {
    padding: main.$inner_margin * 4;
  }

  trough {
    background-color: transparent;
    border: 1px solid main.$accent;
    border-radius: main.$radius;
    margin: 0 5px;
  }

  highlight {
    background-color: main.$accent;
  }

  slider {
    background-color: main.$fg;
    border-radius: main.$radius;
    min-height: 1em;
    min-width: 1em;
    margin: -0.42em -0.3em;
    transition: main.$hover_time;

    &:hover {
      background-color: main.$fg;
    }

    &:active {
      background-color: main.$accentMuted;
    }
  }

  .controls {
    font-size: 24px;
    margin-top: main.$inner_margin;
    margin-bottom: main.$inner_margin * 3;

    > button {
      border-radius: main.$radius;
      transition: main.$hover_time;
      background-color: transparent;
      min-width: 30px;
      margin: 0 main.$space_between;
      color: main.$accent;
      border: main.$window_border;

      &:hover {
        color: main.$fg;
        border-color: main.$fg;
      }

      &:active {
        color: main.$accentMuted;
        border-color: main.$accentMuted;
      }
    }

    icon {
      padding: main.$inner_margin;
    }
  }

  label.title {
    margin: 7px;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 0px;
  }

  label.artist {
    margin: 0 main.$inner_margin * 6;
    font-size: 12pt;
  }

  label.album {
    font-size: 10pt;
    letter-spacing: 0;
    color: main.$accent;
    background-color: main.$bg;
    margin-top: 7px;
    padding: 7px;
    border-radius: main.$radius;
  }
}
