@use "sass:math";
@use "sass:color";
@use "../../main" as main;
@use "bar" as bar;
@use "../../notifications/style.scss";

window.Bar button.ShowNotificationCenter {
  border: main.$button_border;
  border-radius: main.$radius;
  min-width: bar.$with_border_height;
  min-height: bar.$with_border_height;
  background-color: bar.$bar_color;
  border-color: transparent;
  color: main.$accent;

  @keyframes new-notifications {
    0% {
      -gtk-icon-transform: rotate(0);
    }
    10% {
      -gtk-icon-transform: rotate(20deg);
    }
    20% {
      -gtk-icon-transform: rotate(-20deg);
    }
    30% {
      -gtk-icon-transform: rotate(0);
    }
    100% {
      -gtk-icon-transform: rotate(0);
    }
  }

  icon {
    animation: new-notifications 1.5s linear infinite;
    animation-play-state: running;
    font-size: 16px;
  }

  transition-property: border-color, color;
  transition-duration: main.$hover_time;
  transition-timing-function: ease;

  &.no-notifications {
    background-color: bar.$bar_color;
    border-color: transparent;
    color: main.$accent;
    icon {
      animation: none;
      -gtk-icon-transform: rotate(0deg);
    }
  }

  &:hover {
    border-color: main.$accent_greyscale;
    color: main.$accent_greyscale;
  }

  &:active {
    border-color: main.$accent_muted;
    color: main.$accent_muted;
  }
}

window.NotificationCenter {
  button {
    all: unset;
  }

  box.NotificationCenter-panel {
    font-size: main.$font_size * 0.8;
    font-family: main.$font;
    letter-spacing: 0px;
    min-height: 430px;
    min-width: 400px;
    border: main.$window_border;
    background-color: bar.$window_color;
    border-radius: main.$radius;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;

    & > label.title {
      font-size: main.$font_size;
      font-weight: 300;
      color: main.$accent_muted;
      margin-bottom: 10px;
    }

    & > label.no-notifications {
      font-size: main.$font_size;
      font-weight: 400;
      color: main.$accent;
    }
  }

  .trash {
    transition-property: color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: main.$hover_time;
    margin-top: main.$inner_margin * 4;

    min-height: bar.$with_border_height;
    min-width: bar.$with_border_height;

    border-radius: main.$radius;
    background-color: transparent;
    color: main.$bg2;

    font-size: 16px;

    border: main.$button_border;
    border-color: transparent;

    &.full {
      border-color: main.$accent;
      color: main.$accent;
      &:hover {
        border-color: main.$accent_greyscale;
        color: main.$accent_greyscale;
      }
      &:active {
        border-color: main.$accent_muted;
        color: main.$accent_muted;
      }
    }
  }
  scrollable > viewport {
    border: none;
  }

  scrollable box.scroll-content {
    color: main.$accent;
    font-weight: 200;
  }

  scrollable box.scroll-content > .notification-item {
    border: main.$window_border;
    border-radius: main.$radius * 0.9;
    margin-bottom: 1rem;
    min-height: 100px;
    background-color: transparent;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
