// _notch.scss
@use "sass:math";
@use "../../main" as main;
@use "bar" as bar;

$corners_width: 20px;
$notch_radius: main.$radius + 2px;

.Notch {
  background-color: bar.$bar_color;

  border-bottom-left-radius: $notch_radius;
  border-bottom-right-radius: $notch_radius;

  box-shadow: 0 main.$shadow_distance main.$shadow_blur main.$shadow_scale
    main.$shadow_outer_color;
}
.Notch.Left,
.Notch.Right {
  min-width: $corners_width;
  min-height: $corners_width;
  background-color: transparent;
  box-shadow: 0 ($corners_width * -0.8) 0 0 bar.$bar_color;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  & > * {
    margin-top: main.$inner_margin;
    box-shadow: 0 main.$shadow_distance main.$shadow_blur main.$shadow_scale
      main.$shadow_outer_color;
  }
}

.Notch.Left {
  border-top-right-radius: main.$radius;
  & > * {
    margin-right: main.$inner_margin;
  }
}
.Notch.Right {
  border-top-left-radius: main.$radius;
  & > * {
    margin-left: main.$inner_margin;
  }
}
