// _power_options.scss
@use "sass:color";
@use "../../main" as main;
@use "bar" as bar;

window.Bar .PowerOptions {
  transition-property: min-width, border-color;
  transition-timing-function: linear;
  transition-duration: main.$hover_time;

  background-color: bar.$bar_color;
  border-radius: main.$radius;
  border: main.$button_border;
  box-shadow: main.$window_shadow;
  min-width: bar.$with_border_height;

  &.show {
    border-color: main.$accent_greyscale;
    min-width: bar.$with_border_height * 3;
  }

  button {
    transition-property: color, min-width, font-size;
    transition-timing-function: linear;
    transition: main.$hover_time;
    color: main.$accent;
    min-width: bar.$with_border_height;
    min-height: bar.$with_border_height;
    font-size: 16px;

    &.Option {
      font-size: 1px;
      min-width: 0px;
      color: transparent;
    }

    &.show {
      min-width: bar.$no_border_height;
      font-size: 16px;
      color: main.$accent;
    }

    &:hover {
      color: main.$accent_greyscale;
    }

    &:active {
      color: main.$accent_muted;
    }
  }
}
