// _systray.scss
@use "sass:math";
@use "../../main" as main;
@use "bar" as bar;

window.Bar .SysTray {
  padding: 0 main.$inner_margin * 2;
  background-color: bar.$bar_color;
  border-radius: main.$radius;
  min-height: bar.$with_border_height;
  border: main.$button_border;
  box-shadow: main.$window_shadow;
  button {
    margin-left: main.$space_between;
    &:first-child {
      margin-left: 0;
    }
  }
  icon {
    font-size: 16px;
  }
}
