// _workspaces.scss
@use "sass:math";
@use "../../main" as main;
@use "bar" as bar;

$focused_ws_width: bar.$no_border_height + main.$inner_margin;
$regular_ws_width: bar.$no_border_height * 0.25 + main.$inner_margin;
$special_ws_width: bar.$with_border_height * 0.25 + main.$inner_margin - 2px;

$regular_container_width: $focused_ws_width + ($regular_ws_width * 3) +
  (main.$inner_margin * 2.5 * 4);
$special_container_width: $regular_container_width + $special_ws_width;

window.Bar .Workspaces {
  padding: 0 main.$inner_margin * 2.5;
  margin: 0;
  min-width: $regular_container_width;

  button {
    margin-left: main.$inner_margin * 2.5;
    min-width: $regular_ws_width;
    min-height: $regular_ws_width;
    font-size: 12px;

    &,
    icon {
      transition-property: color, min-width;
      transition-duration: main.$hover_time;
      transition-timing-function: linear;

      border-radius: main.$radius * 0.8;
      border-color: transparent;
      color: main.$accent_muted;
      background-color: main.$bg1;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:hover > icon {
      color: main.$fg;
    }

    &:active,
    &:active > icon {
      color: main.$accent_muted;
    }

    &.focused {
      box-shadow: main.$shadow_distance main.$shadow_distance main.$shadow_blur
        main.$shadow_scale main.$accent_muted;
    }

    &.focused,
    &.focused > icon {
      color: main.$bg;
      background-color: main.$accent;
      min-width: $focused_ws_width;
    }

    &.special {
      background-color: transparent;
      border: main.$button_border;
      min-width: $special_ws_width;
      min-height: $special_ws_width;
    }
  }
}
