// _workspaces.scss
@use "sass:math";
@use "../../main" as main;
@use "bar" as bar;

$focused_ws_width: bar.$no_border_height + main.$inner_margin;
$regular_ws_width: bar.$no_border_height * 0.35 + main.$inner_margin;
$special_ws_width: bar.$with_border_height * 0.35 + main.$inner_margin - 2px;

$container_width: $focused_ws_width + ($regular_ws_width * 3) +
  (main.$inner_margin * 2.5 * 4) + ($special_ws_width + 2px);

window.Bar .Workspaces {
  padding: 0 main.$inner_margin * 2.5;
  margin: 0;
  min-width: $container_width;

  button {
    margin-left: main.$inner_margin * 2.5;
    min-width: $regular_ws_width;
    min-height: $regular_ws_width;
    font-size: 12px;

    & {
      transition-property: color, min-width;
      transition-duration: main.$hover_time;
      transition-timing-function: linear;

      background-color: main.$bg1;
      border-radius: main.$radius * 0.8;
      border-color: transparent;

      icon {
        color: main.$accent_muted;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover > icon {
      color: main.$fg;
    }

    &:active > icon {
      color: main.$accent_muted;
    }

    &.focused {
      box-shadow: none;
    }

    &.focused {
      background-color: main.$accent;
      min-width: $focused_ws_width;

      & > icon {
        color: main.$bg;
      }
    }

    &.special {
      background-color: transparent;
      border: main.$button_border;
      min-width: $special_ws_width;
      min-height: $special_ws_width;
    }
  }
}
