// @use "sass:color" as color;
@use "../main" as main;
@use "sass:math";
@use "sass:color";

window.NotificationCenter {
  box.NotificationCenter-panel {
    font-family: main.$font;
    letter-spacing: -1px;
    min-height: 430px;
    min-width: 400px;
    border: main.$window_border;
    background-color: color.adjust(main.$bg, $alpha: -0.4);
    border-radius: main.$radius;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;

    & > label.title {
      font-size: main.$font_size;
      font-weight: 200;
      color: main.$accent;
      margin-bottom: 10px;
    }

    & > label.no-notifications {
      font-size: main.$font_size;
      font-weight: 200;
      color: main.$accent;
    }
  }

  scrollable > viewport {
    border: none;
  }

  scrollable box.scroll-content {
    color: main.$accent;
    font-weight: 200;
  }

  scrollable box.scroll-content > .notification-item {
    border: main.$window_border;
    border-radius: main.$radius;
    margin-bottom: 1rem;
    min-height: 100px;

    &:last-child {
      margin-bottom: 0;
    }

    &.critical {
      border: 1px solid main.$red;

      .header {
        .app-name {
          color: main.$red;
        }

        .app-icon {
          color: main.$red;
        }
      }
    }

    .header {
      padding: 0.2rem;
      color: main.$accent;

      .app-icon {
        margin: 0 0.4rem;
      }

      .app-name {
        margin-right: 0.3rem;

        &:first-child {
          margin-left: 0.4rem;
        }
      }

      .time {
        margin: 0 0.4rem;
      }

      button {
        padding: 0.2rem;
        min-width: 0;
        min-height: 0;
        background-color: transparent;

        icon {
          color: main.$fgMuted;
        }
      }

      button:hover {
        icon {
          color: main.$fg;
        }
      }

      button:active {
        icon {
          color: main.$accentMuted;
        }
      }
    }

    separator {
      margin: 0 0.4rem;
      background-color: main.$bg2;
    }

    .no-notifications {
      font-size: 20pt;
      color: main.$accent;
    }

    .content {
      margin: 5px;

      & > box {
        margin-left: 5px;
      }

      .summary {
        font-weight: 400;
        color: main.$fg;
      }

      .body {
        font-weight: 200;
        color: main.$fgMuted;
      }

      .image {
        border-radius: main.$radius;
        min-width: 80px;
        min-height: 80px;
        background-size: cover;
        background-position: center;
      }
    }

    .actions {
      margin: 0.5rem;
      margin-top: 0;
      padding: 0.2rem;

      button {
        margin: 0 0.3rem;
        color: main.$accent;
        border: 1px solid main.$accent;
        background-color: transparent;
        border-radius: main.$radius;
        font-weight: 200;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      button:hover {
        color: main.$fg;
        border-color: main.$fg;
      }

      button:active {
        color: main.$accentMuted;
        border-color: main.$accentMuted;
      }
    }
  }
}

window.Calendar {
  .Calendar {
    border: main.$window_border;
    background-color: color.adjust(main.$bg, $alpha: -0.4);
    border-radius: main.$radius;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    > * {
      padding: 30px;
    }
  }

  .CalendarPanel {
    background-color: transparent;
    border: none;
    border-radius: main.$radius;
    font-size: 24px;
    font-weight: 200;
    font-family: main.$font;
    letter-spacing: -1px;
    padding: 5px;

    &:selected {
      color: main.$bg;
      background-color: main.$accent;
      font-weight: bold;
    }
  }
}

window.Media {
  $media-height: 500px;
  $media-width: math.div(3, 5.2) * $media-height;

  * {
    all: unset;
    font-family: main.$font;
    letter-spacing: -2px;
  }

  box.Media {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    min-width: $media-width;
    min-height: $media-height;

    border: main.$window_border;
    color: main.$fgMuted;
    background-color: color.adjust(main.$bg, $alpha: -0.4);
    border-radius: main.$radius;

    &.offline {
      min-height: $media-width;
    }
  }

  .image {
    border-radius: main.$radius;
    background-color: main.$bg;
    $cover_margin: 20px;
    $border_size: 2px;
    border: $border_size solid main.$bg1;
    margin: $cover_margin;
    min-height: $media-height * 0.58 - ($cover_margin * 2) -
      ($border_size * 2) - 1px;
  }

  box.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  icon.image {
    font-size: 128px;
    background-color: transparent;
    color: main.$accent;
  }

  box.interface {
    border-bottom-right-radius: main.$radius - 2px;
    border-bottom-left-radius: main.$radius - 2px;

    background-color: transparent;
    min-height: $media-height * 0.42 + 1px;

    &.offline {
      border-radius: main.$radius - 2px;
      min-height: $media-width;

      icon {
        font-size: 128px;
        margin-top: 60px;
      }
    }
  }

  box.slider-parent {
    padding: main.$inner_margin * 4;
  }

  trough {
    background-color: transparent;
    border: 1px solid main.$accent;
    border-radius: main.$radius;
    margin: 0 5px;
  }

  highlight {
    background-color: main.$accent;
  }

  slider {
    background-color: main.$fgMuted;
    border-radius: main.$radius;
    min-height: 1em;
    min-width: 1em;
    margin: -0.42em -0.3em;
    transition: main.$hover_time;

    &:hover {
      background-color: main.$fg;
    }

    &:active {
      background-color: main.$accentMuted;
    }
  }

  .controls {
    font-size: 24px;
    margin-top: main.$inner_margin;
    margin-bottom: main.$inner_margin * 3;

    > button {
      border-radius: main.$radius;
      transition: main.$hover_time;
      background-color: transparent;
      min-width: 30px;
      margin: 0 main.$space_between;
      color: main.$fgMuted;
      border: main.$window_border;

      &:hover {
        color: main.$fg;
        border-color: main.$fg;
      }

      &:active {
        color: main.$accentMuted;
        border-color: main.$accentMuted;
      }
    }

    icon {
      padding: main.$inner_margin;
    }
  }

  label.title {
    margin: 7px;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: -1px;
  }

  label.artist {
    margin: 0 main.$inner_margin * 6;
    font-size: 12pt;
  }

  label.album {
    font-size: 10pt;
    letter-spacing: 0;
    color: main.$accent;
    background-color: main.$bg;
    margin-top: 7px;
    padding: 7px;
    border-radius: main.$radius;
  }
}

window.Audio {
  .AudioSlider {
    border: main.$window_border;
    min-width: 135px;
    background-color: color.adjust(main.$bg, $alpha: -0.4);
    border-radius: main.$radius;
    padding: main.$inner_margin main.$inner_margin * 3;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    * {
      all: unset;
      font-family: main.$font;
      letter-spacing: -2px;
      font-weight: 200;
    }

    > label {
      color: main.$fgMuted;
      font-size: 16px;
    }

    button {
      transition: main.$hover_time;
      min-width: main.$font_size + 1pt + (main.$inner_margin * 2);
      min-height: main.$font_size + 1pt + (main.$inner_margin * 2);
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: main.$radius;

      &:hover {
        icon {
          color: main.$fg;
        }
      }

      &:active {
        icon {
          color: main.$accent;
        }
      }

      &.muted {
        icon {
          color: main.$accentMuted;
        }
      }

      icon {
        color: main.$fgMuted;
        font-size: 16px;
      }
    }

    trough {
      background-color: transparent;
      border: 1px solid main.$accent;
      border-radius: main.$radius;
      margin: 0 5px;
    }

    highlight {
      background-color: main.$accent;
    }

    slider {
      background-color: main.$fgMuted;
      border-radius: main.$radius;
      min-height: 1em;
      margin: -0.42em -0.3em;
      transition: main.$hover_time;

      &:hover {
        background-color: main.$fg;
        box-shadow: none;
      }

      &:active {
        background-color: main.$accent;
      }
    }
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: main.$fg;
  font-size: main.$font_size;
  font-weight: bold;

  & > * {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 30px;
    margin-right: 30px;

    & > * {
      background-color: transparent;
      min-height: main.$bar_min_height;
    }
  }

  button {
    all: unset;
  }

  label {
    font-family: main.$font;
    font-weight: 200;
    letter-spacing: -1px;
  }

  .MiddleBox {
    border-radius: main.$radius;
    padding: main.$inner_margin;
  }

  .Workspaces {
    button:first-child {
      margin-left: 0;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      margin-left: main.$inner_margin;
      min-width: main.$bar_min_height + (main.$inner_margin * 0.5);

      label {
        transition: main.$hover_time;
        border-radius: main.$radius;
        color: main.$accent;
        font-size: 12pt;
      }

      &:hover {
        label {
          color: main.$fg;
        }
      }

      &:active {
        label {
          color: main.$accentMuted;
        }
      }

      &.focused {
        label {
          color: main.$fgMuted;
          box-shadow: none;
          border: 1px solid main.$accent;
        }
      }

      &.special {
        label {
          background-color: main.$bg;
          border: 1px solid main.$accent;
          border-color: main.$accent;
          color: main.$fgMuted;
        }
      }
    }
  }

  .LeftBox {
    border-radius: main.$radius;
    padding: main.$inner_margin;
  }

  .Time {
    background-color: transparent;
    padding: 0 main.$inner_margin * 2;
    color: main.$fgMuted;
  }

  button.Date {
    margin-left: main.$inner_margin;
    background-color: transparent;
    color: main.$fgMuted;
    border-radius: main.$radius;
    border: main.$window_border;

    > label {
      border-radius: main.$radius;
      transition: main.$hover_time;
      padding: 0 main.$inner_margin * 4;
    }

    &:hover {
      border-color: main.$fg;

      > label {
        color: main.$fg;
      }
    }

    &:active {
      border-color: main.$accentMuted;

      > label {
        color: main.$accentMuted;
      }
    }
  }

  button.ShowNotificationCenter {
    border: main.$window_border;
    border-radius: main.$radius;
    min-width: main.$bar_min_height;
    margin-left: main.$inner_margin;
    font-size: 16px;

    border-color: main.$yellowMuted;
    color: main.$yellowMuted;

    transition-property: border-color, color;
    transition-duration: main.$hover_time;
    transition-timing-function: ease;

    &.no-notifications {
      border-color: main.$accent;
      color: main.$accent;
    }

    &:hover {
      border-color: main.$fg;
      color: main.$fg;
    }

    &:active {
      border-color: main.$accentMuted;
      color: main.$accentMuted;
    }
  }

  .SysTray {
    padding-left: main.$space_between;
    padding-right: main.$space_between;

    border-bottom: main.$window_border;
    border-radius: main.$radius;
    background-color: transparent;

    > * {
      margin-left: main.$space_between;
      margin-right: main.$space_between;
    }

    icon {
      -gtk-icon-theme: "WhiteSur-grey";
    }
  }

  .ShowAudio {
    background-color: transparent;
    border-radius: main.$radius;
    border: main.$window_border;

    &:hover {
      border-color: main.$fg;

      > .Icons {
        color: main.$fg;
      }
    }

    &:active {
      border-color: main.$accentMuted;

      > .Icons {
        color: main.$accentMuted;
      }
    }

    .Icons {
      border-radius: main.$radius;
      padding: 0 (main.$inner_margin * 2);
      transition: main.$hover_time;
      color: main.$fgMuted;

      & > box {
        transition: 0;
        min-width: 55px;
        font-size: 16px;

        &.muted {
          color: main.$accentMuted;
        }
      }

      icon {
        margin-top: main.$inner_margin;
        margin-bottom: main.$inner_margin;
        margin-left: main.$inner_margin;
        margin-right: 4px;
      }
    }
  }

  button.Media {
    border-radius: main.$radius;
    background-color: transparent;
    border: main.$window_border;
    min-width: 26px;
    font-size: 16px;

    @keyframes playing-media {
      to {
        -gtk-icon-transform: rotate(360deg);
      }
    }

    icon {
      transition: main.$hover_time;
      animation: playing-media 2s linear infinite;
      animation-play-state: running;
      border-radius: main.$radius;
      color: main.$fgMuted;
    }

    &.offline icon {
      animation: none;
      -gtk-icon-transform: rotate(0deg);
    }

    &.paused icon {
      animation-play-state: paused;
    }

    &:hover {
      border-color: main.$fg;

      > icon {
        color: main.$fg;
      }
    }

    &:active {
      border-color: main.$accentMuted;

      > icon {
        color: main.$accentMuted;
      }
    }
  }

  .RightBox {
    border-radius: main.$radius;
    padding: main.$inner_margin;

    & > *:first-child {
      margin-left: 0;
    }

    & > * {
      margin-left: main.$space_between;
    }
  }

  .PowerOptions {
    background-color: transparent;
    border-radius: main.$radius;
    border: main.$window_border;

    &:hover {
      border-color: main.$fg;
    }

    button {
      min-width: main.$font_size + 4pt + (main.$inner_margin * 2);
      // margin: main.$inner_margin;
      border-radius: main.$radius;
      transition: main.$hover_time;

      &:hover {
        icon {
          color: main.$fg;
        }
      }

      &:active {
        icon {
          color: main.$accent;
        }
      }

      icon {
        color: main.$fgMuted;
        font-size: 16px;
      }
    }

    .CloseOptions {
      icon {
        color: main.$red;
      }

      &:hover icon {
        color: main.$fg;
      }

      &:active icon {
        color: main.$fgMuted;
      }
    }
  }

  .Ethernet {
    border-radius: main.$radius;
    font-size: 16px;
    min-width: 20pt;
    background-color: transparent;
    border: main.$window_border;
    color: main.$accent;

    &.connected {
      color: main.$green;
      border-color: main.$green;
    }

    &.connecting {
      color: main.$yellow;
      border-color: main.$yellow;
    }

    &.disconnected {
      color: main.$orange;
      border-color: main.$orange;
    }

    &.offline,
    &.failed,
    &.unavailable {
      color: main.$red;
      border-color: main.$red;
    }
  }
}
