@use "sass:color";

// colors
//dark
$bg: #100F0F;
$bg1: #282726;
$bg2: #403E3C;
$bg3: #575653;
$bg4: #6F6E69;
$fg: #CECDC3;
$fgMuted: #878580;

$redMuted: #AF3029;
$red: #D14D41;
$blueMuted: #205EA6;
$blue: #4385BE;
$purpleMuted: #5E409D;
$purple: #8B7EC8;
$orangeMuted: #BC5215;
$orange: #DA702C;
$aquaMuted: #24837B;
$aqua: #3AA99F;
$yellowMuted: #AD8301;
$yellow: #D0A215;
$greenMuted: #66800B;
$green: #879A39;

//light
// $bg: #FFFCF0;
// $bg1: #E6E4D9;
// $bg2: #CECDC3;
// $bg3: #B7B5AC;
// $bg4: #9F9D96;
// $fg: #100F0F;
// $fgMuted: #6F6E69;
//
// $red: #AF3029;
// $redMuted: #D14D41;
// $blue: #205EA6;
// $blueMuted: #4385BE;
// $purple: #5E409D;
// $purpleMuted: #8B7EC8;
// $orange: #BC5215;
// $orangeMuted: #DA702C;
// $aqua: #24837B;
// $aquaMuted: #3AA99F;
// $yellow: #AD8301;
// $yellowMuted: #D0A215;
// $green: #66800B;
// $greenMuted: #879A39;

$accent: $bg4;
$accentMuted: $bg3;

$font: "JetBrainsMono Nerd Font";
$radius: 10px;
$hover_time: 200ms;
$bar_side_margins: 5px;
$inner_margin: 3px;
$space_between: 4px;
$bar_min_height: 28px;
$font_size: 12pt;
$shadow_distance: 0;
$shadow_blur: 4px;
$shadow_scale: 0;
$shadow_color: #000000;
$shadow_outer_color: color.adjust($shadow_color, $alpha: -0.1);
$shadow_inner_color: color.adjust($shadow_color, $alpha: -0.2);
$window_border_settings: 1px solid;
$window_border: $window_border_settings $accent;
$window_border_alt: $window_border_settings $bg;

// buttons
$hover-deepness: 1px;
$pressed-deepness: 2px;
$press-deepness: 3px;

window.Calendar {

  .Calendar {
    border: $window_border;
    background-color: transparentize($color: $bg, $amount: 0.4);
    border-radius: $radius;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    >* {
      padding: 30px;
    }
  }

  .CalendarPanel {
    background-color: transparent;
    border: none;
    border-radius: $radius;
    font-size: 24px;
    font-weight: 200;
    font-family: $font;
    letter-spacing: -1px;
    padding: 5px;

    &:selected {
      color: $bg;
      background-color: $accent;
      font-weight: bold;
    }

  }
}

window.Media {
  $media-height: 500px;
  $media-width: 3/5.2 * $media-height;

  * {
    all: unset;
    font-family: $font;
    letter-spacing: -2px;
  }

  box.Media {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    min-width: $media-width;
    min-height: $media-height;

    border: $window_border;
    color: $fgMuted;
    background-color: transparentize($color: $bg, $amount: .4);
    border-radius: $radius;

    &.offline {
      min-height: $media-width;
    }
  }

  .image {
    border-radius: $radius;
    background-color: $bg;
    $cover_margin: 20px;
    $border_size: 2px;
    border: $border_size solid $bg1;
    margin: $cover_margin;
    min-height: $media-height * 0.58 - ($cover_margin * 2) - ($border_size * 2) - 1px;
  }

  box.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  icon.image {
    font-size: 128px;
    background-color: transparent;
    color: $accent;
  }

  box.interface {
    border-bottom-right-radius: $radius - 2px;
    border-bottom-left-radius: $radius - 2px;

    background-color: transparent;
    min-height: $media-height * 0.42 + 1px;

    &.offline {
      border-radius: $radius - 2px;
      min-height: $media-width;

      icon {
        font-size: 128px;
        margin-top: 60px;
      }
    }

  }

  box.slider-parent {
    padding: $inner_margin*4;
  }

  trough {
    background-color: transparent;
    border: 1px solid $accent;
    border-radius: $radius;
    margin: 0 5px;
  }

  highlight {
    background-color: $accent;
  }

  slider {
    background-color: $fgMuted;
    border-radius: $radius;
    min-height: 1em;
    min-width: 1em;
    margin: -0.42em -0.3em;
    transition: $hover_time;

    &:hover {
      background-color: $fg;
    }

    &:active {
      background-color: $accentMuted;
    }
  }

  .controls {
    font-size: 24px;
    margin-top: $inner_margin;
    margin-bottom: $inner_margin*3;

    >button {
      border-radius: $radius;
      transition: $hover_time;
      background-color: transparent;
      min-width: 30px;
      margin: 0 $space_between;
      color: $fgMuted;
      border: $window_border;

      &:hover {
        color: $fg;
        border-color: $fg;
      }

      &:active {
        color: $accentMuted;
        border-color: $accentMuted;
      }
    }

    icon {
      padding: $inner_margin;
    }
  }

  label.title {
    margin: 7px;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: -1px;
  }

  label.artist {
    margin: 0 $inner_margin*6;
    font-size: 12pt;
  }

  label.album {
    font-size: 10pt;
    letter-spacing: 0;
    color: $accent;
    background-color: $bg;
    margin-top: 7px;
    padding: 7px;
    border-radius: $radius;
  }
}

window.Audio {

  .AudioSlider {
    border: $window_border;
    min-width: 135px;
    background-color: transparentize($color: $bg, $amount: .4);
    border-radius: $radius;
    padding: $inner_margin $inner_margin*3 ;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    * {
      all: unset;
      font-family: $font;
      letter-spacing: -2px;
      font-weight: 200;
    }

    >label {
      color: $fgMuted;
      font-size: 16px;
    }

    button {
      transition: $hover_time;
      min-width: $font_size + 1pt + ($inner_margin * 2);
      min-height: $font_size + 1pt + ($inner_margin * 2);
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: $radius;

      &:hover {

        icon {
          color: $fg;
        }
      }

      &:active {

        icon {
          color: $accent;
        }
      }

      &.muted {

        icon {
          color: $accentMuted;
        }

      }

      icon {
        color: $fgMuted;
        font-size: 16px;
      }
    }


    trough {
      background-color: transparent;
      border: 1px solid $accent;
      border-radius: $radius;
      margin: 0 5px;
    }

    highlight {
      background-color: $accent;
    }

    slider {
      background-color: $fgMuted;
      border-radius: $radius;
      min-height: 1em;
      margin: -0.42em -0.3em;
      transition: $hover_time;

      &:hover {
        background-color: $fg;
        box-shadow: none;
      }

      &:active {
        background-color: $accent;
      }
    }
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: $fg;
  font-size: $font_size;
  font-weight: bold;

  &>* {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 30px;
    margin-right: 30px;

    &>* {
      background-color: transparent;
      min-height: $bar_min_height;
    }
  }

  button {
    all: unset;
  }

  label {
    font-family: $font;
    font-weight: 200;
    letter-spacing: -1px;
  }

  .MiddleBox {
    border-radius: $radius;
    padding: $inner_margin;
  }

  .Workspaces {
    button:first-child {
      margin-left: 0;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      margin-left: $inner_margin;
      min-width: $bar_min_height + ($inner_margin * 0.5);

      label {
        transition: $hover_time;
        border-radius: $radius;
        color: $accent;
        font-size: 12pt;
      }

      &:hover {
        label {
          color: $fg;
        }
      }

      &:active {
        label {
          color: $accentMuted;
        }
      }

      &.focused {
        label {
          color: $fgMuted;
          box-shadow: none;
          border: 1px solid $accent;
        }
      }

      &.special {
        label {
          background-color: $bg;
          border: 1px solid $accent;
          border-color: $accent;
          color: $fgMuted;
        }
      }
    }

  }

  .LeftBox {
    border-radius: $radius;
    padding: $inner_margin;
  }

  .Time {
    background-color: transparent;
    padding: 0 $inner_margin*2;
    color: $fgMuted;
  }

  button.Date {
    margin-left: $inner_margin;
    background-color: transparent;
    color: $fgMuted;
    border-radius: $radius;
    border: $window_border;

    >label {
      border-radius: $radius;
      transition: $hover_time;
      // min-width: 200px;
      padding: 0 $inner_margin * 4;
    }

    &:hover {
      border-color: $fg;

      >label {
        color: $fg;
      }
    }

    &:active {
      border-color: $accentMuted;

      >label {
        color: $accentMuted;
      }
    }

  }

  .SysTray {
    padding-left: $space_between;
    padding-right: $space_between;

    >* {
      margin-left: $space_between;
      margin-right: $space_between;
    }

    icon {
      -gtk-icon-theme: "WhiteSur-grey";
    }


    border-bottom: $window_border;
    border-radius: $radius;
    background-color: transparent;
  }

  .ShowAudio {
    background-color: transparent;
    border-radius: $radius;
    border: $window_border;

    &:hover {
      border-color: $fg;

      >.Icons {
        color: $fg;
      }
    }

    &:active {
      border-color: $accentMuted;

      >.Icons {
        color: $accentMuted;
      }
    }

    .Icons {
      border-radius: $radius;
      padding: 0 ($inner_margin*2);
      transition: $hover_time;
      color: $fgMuted;

      &>box {
        transition: 0;
        min-width: 55px;
        font-size: 16px;

        &.muted {
          color: $accentMuted;
        }
      }

      icon {
        margin-top: $inner_margin;
        margin-bottom: $inner_margin;
        margin-left: $inner_margin;
        margin-right: 4px;
      }
    }
  }

  button.Media {
    border-radius: $radius;
    background-color: transparent;
    border: $window_border;
    min-width: 26px;
    font-size: 16px;

    @keyframes playing-media {
      to {
        -gtk-icon-transform: rotate(360deg);
      }
    }

    icon {
      transition: $hover_time;
      animation: playing-media 2s linear infinite;
      animation-play-state: running;
      border-radius: $radius;
      color: $fgMuted;
    }

    &.offline icon {
      animation: none;
      -gtk-icon-transform: rotate(0deg);
    }

    &.paused icon {
      animation-play-state: paused;
    }

    &:hover {
      border-color: $fg;

      >icon {
        color: $fg;
      }
    }

    &:active {
      border-color: $accentMuted;

      >icon {
        color: $accentMuted;
      }
    }

  }


  .RightBox {
    border-radius: $radius;
    padding: $inner_margin;

    &>*:first-child {
      margin-left: 0;
    }

    &>* {
      margin-left: $space_between;
    }

  }

  .PowerOptions {
    background-color: transparent;
    border-radius: $radius;
    border: $window_border;

    &:hover {
      border-color: $fg;
    }

    button {
      min-width: $font_size + 4pt + ($inner_margin * 2);
      // margin: $inner_margin;
      border-radius: $radius;
      transition: $hover_time;

      &:hover {

        icon {
          color: $fg;
        }

      }

      &:active {
        icon {
          color: $accent;
        }
      }

      icon {
        color: $fgMuted;
        font-size: 16px;
      }
    }

    .CloseOptions {

      icon {
        color: $red;
      }

      &:hover icon {
        color: $fg;
      }

      &:active icon {
        color: $fgMuted;
      }
    }
  }

  .Ethernet {
    border-radius: $radius;
    font-size: 16px;
    min-width: 20pt;
    background-color: transparent;
    border: $window_border;
    color: $accent;

    &.connected {
      color: $green;
      border-color: $green;
    }

    &.connecting {
      color: $yellow;
      border-color: yellow;
    }

    &.disconnected {
      color: $orange;
      border-color: $orange;
    }

    &.offline,
    &.failed,
    &.unavailable {
      color: $red;
      border-color: $red;
    }
  }
}
