@use "../main" as main;
@use "../bar/sass/_bar.scss" as bar;
@use "sass:color";

window.OnScreenDisplay {
  & > .base {
    margin: main.$shadow_scale;
    background-color: main.$bg;
    border: main.$window_border;
    box-shadow: main.$window_shadow;
    border-radius: main.$radius;
    padding: main.$space_between;
  }
  .base > icon {
    margin-right: main.$space_between;
    color: main.$accent;
  }
  .base > levelbar block.filled {
    background-color: main.$accent;
    border-radius: main.$radius;
  }
  .base > levelbar block.empty {
    background-color: main.$bg1;
    border-radius: main.$radius;
  }
}
