@use "sass:color";

// colors
//dark
$bg: #100F0F;
$bg1: #282726;
$bg2: #403E3C;
$bg3: #575653;
$bg4: #6F6E69;
$fg: #CECDC3;
$fgMuted: #878580;

$redMuted: #AF3029;
$red: #D14D41;
$blueMuted: #205EA6;
$blue: #4385BE;
$purpleMuted: #5E409D;
$purple: #8B7EC8;
$orangeMuted: #BC5215;
$orange: #DA702C;
$aquaMuted: #24837B;
$aqua: #3AA99F;
$yellowMuted: #AD8301;
$yellow: #D0A215;
$greenMuted: #66800B;
$green: #879A39;

//light
// $bg: #FFFCF0;
// $bg1: #E6E4D9;
// $bg2: #CECDC3;
// $bg3: #B7B5AC;
// $bg4: #9F9D96;
// $fg: #100F0F;
// $fgMuted: #6F6E69;
//
// $red: #AF3029;
// $redMuted: #D14D41;
// $blue: #205EA6;
// $blueMuted: #4385BE;
// $purple: #5E409D;
// $purpleMuted: #8B7EC8;
// $orange: #BC5215;
// $orangeMuted: #DA702C;
// $aqua: #24837B;
// $aquaMuted: #3AA99F;
// $yellow: #AD8301;
// $yellowMuted: #D0A215;
// $green: #66800B;
// $greenMuted: #879A39;

$accent: $purple;
$accentMuted: $purpleMuted;

$font: "Noto Serif";
$radius: 10px;
$hover-time: 200ms;
$bar-side-margins: 5px;
$inner-margin: 3px;
$space-between: 4px;
$bar-min-height: 28px;
$font-size: 12pt;
$shadow-distance: 4px;
$shadow_color: #100F0F;
$shadow-outer-color: color.adjust($shadow_color, $alpha: -0.1);
$shadow-inner-color: color.adjust($shadow_color, $alpha: -0.2);
$window_border_settings: 1px solid;
$window_border: $window_border_settings $accent;
$window_border_alt: $window_border_settings $bg;

// buttons
$hover-deepness: 1px;
$pressed-deepness: 2px;
$press-deepness: 3px;

window.Calendar {

  .Calendar {
    margin: $shadow-distance;
    border: $window_border;
    box-shadow: $shadow-distance $shadow-distance 0px 0px $shadow-outer-color;
    background-color: $bg;
    border-radius: $radius;

    >* {
      padding: 30px;
    }
  }

  .CalendarPanel {
    border-radius: $radius;
    font-size: 24px;

    &:selected {
      color: $bg;
      background-color: $accent;
    }

  }
}

window.Media {
  $media-height: 500px;
  $media-width: 3/5.2 * $media-height;

  * {
    all: unset;
  }

  box.Media {
    margin: $shadow-distance;
    min-width: $media-width;
    min-height: $media-height;

    border: $window_border_alt;
    box-shadow: $shadow-distance $shadow-distance 0px 0px $shadow-outer-color;
    color: $bg;
    background-color: $bg;
    border-radius: $radius;

    &.offline {
      min-height: $media-width;
    }
  }

  .image {
    border-radius: $radius;
    background-color: $fg;
    $cover_margin: 20px;
    $border_size: 2px;
    border: $border_size solid $fg;
    margin: $cover_margin $cover_margin;
    min-height: $media-height * 0.58 - ($cover_margin * 2) - ($border_size * 2) - 1px;
  }

  box.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  icon.image {
    font-size: 128px;
    background-color: $fg;
    color: $accent;
  }

  box.interface {
    border-bottom-right-radius: $radius - 2px;
    border-bottom-left-radius: $radius - 2px;

    background-color: $accent;
    min-height: $media-height * 0.42 + 1px;

    &.offline {
      border-radius: $radius - 2px;
      min-height: $media-width;

      icon {
        font-size: 128px;
        margin-top: 60px;
      }
    }

  }

  box.slider-parent {
    padding: $inner-margin*4;
  }

  trough {
    background-color: transparent;
    border: 1px solid $bg;
    border-radius: $radius;
    margin: 0 5px;
  }

  highlight {
    background-color: $bg;
  }

  slider {
    background-color: $bg;
    border-radius: $radius;
    box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color;
    min-height: 1em;
    min-width: 1em;
    margin: -0.42em -0.3em;
    transition: $hover-time;

    &:hover {
      background-color: $bg1;
      box-shadow: none;
    }

    &:active {
      background-color: $bg2;
      box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color inset;
    }
  }

  .controls {
    font-size: 24px;
    margin-top: $inner-margin;
    margin-bottom: $inner-margin*3;

    >button {
      border-radius: $radius;
      transition: $hover-time;
      background-color: $bg;
      min-width: 30px;
      margin: 0 $space-between;
      box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color;
      color: $accent;
      // border: $window_border;

      &:hover {
        box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color;
      }

      &:active {
        box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
        background-color: $accentMuted;
        color: $bg;
      }
    }

    icon {
      padding: $inner-margin;
    }
  }

  label {
    margin: 0 $inner-margin*6;
  }

  label.title {
    font-size: 14pt;
    font-weight: bold;
  }

  label.artist {
    font-size: 12pt;
  }

  label.album {
    font-size: 10pt;
    color: $accent;
    background-color: $bg;
    margin-top: 7px;
    padding: 7px;
    border-radius: $radius;
  }
}

window.Audio {

  .AudioSlider {
    margin: $shadow-distance;
    border: $window_border_alt;
    min-width: 135px;
    background-color: $accent;
    border-radius: $radius;
    padding: $inner-margin $inner-margin*3 ;
    box-shadow: $shadow-distance $shadow-distance 0px 0px $shadow-outer-color;

    * {
      all: unset;
    }

    >label {
      color: $bg;
      font-size: 16px;
    }

    button {
      transition: $hover-time;
      min-width: $font-size + 1pt + ($inner-margin * 2);
      min-height: $font-size + 1pt + ($inner-margin * 2);
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: $radius;

      &:hover {
        box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
        background-color: color.adjust($fg, $alpha: -0.9);
      }

      &:active {
        box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
        background-color: color.adjust($fg, $alpha: -0.8);
      }

      &.muted {
        box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color inset;
        background-color: color.adjust($fg, $alpha: -0.8);

        &:active {
          box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
        }
      }

      icon {
        color: $bg;
        font-size: 16px;
      }
    }


    trough {
      background-color: transparent;
      border: 1px solid $bg;
      border-radius: $radius;
      margin: 0 5px;
    }

    highlight {
      background-color: $bg;
    }

    slider {
      background-color: $bg;
      border-radius: $radius;
      box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color;
      min-height: 1em;
      margin: -0.42em -0.3em;
      transition: $hover-time;

      &:hover {
        background-color: $bg1;
        box-shadow: none;
      }

      &:active {
        background-color: $bg2;
        box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color inset;
      }
    }
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: $fg;
  font-size: $font-size;
  font-weight: bold;

  &>* {
    margin-bottom: 6px;
    margin-left: 30px;
    margin-right: 30px;

    &>* {
      border: $window_border;
      background-color: $bg;
      box-shadow: $shadow-distance $shadow-distance 0px 0px $shadow-outer-color;
      min-height: $bar-min-height;
    }
  }

  button {
    all: unset;
  }

  label {
    font-family: $font;
    font-weight: 400;
  }

  .MiddleBox {
    border-radius: $radius;
    padding: $inner-margin;
  }

  .Workspaces {
    button:first-child {
      margin-left: 0;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      margin-left: $inner-margin;
      min-width: $bar-min-height + ($inner-margin * 0.5);

      label {
        transition: $hover-time;
        border-radius: $radius;
        color: $accent;
        font-size: 12pt;
        border: 1px solid $accent;
      }

      &:hover {
        label {
          background-color: $bg1;
          border-color: $accentMuted;
          box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
        }
      }

      &:active {
        label {
          background-color: $bg2;
          border-color: $accentMuted;
          color: $accentMuted;
          box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
        }
      }

      &.focused {
        label {
          color: $bg;
          background-color: $accent;
          box-shadow: none;
          border: 1px solid $accent;
        }
      }

      &.special {
        label {
          background-color: $fg;
          border-color: $accent;
          color: $accentMuted;
        }

        // &.focused {
        //   label {
        //     background-color: $orange;
        //     color: $bg;
        //   }
        // }
      }
    }

  }

  .LeftBox {
    border-radius: $radius;
    padding: $inner-margin;
  }

  .Time {
    background-color: transparent;
    padding: 0 $inner-margin*2;
    font-weight: bold;
    color: $fg;
  }

  button.Date {
    margin-left: $inner-margin;
    background-color: $accent;
    color: $bg;
    border-radius: $radius;

    >label {
      border-radius: $radius;
      transition: $hover-time;
      // min-width: 200px;
      padding: 0 $inner-margin * 4;
    }

    &:hover>label {
      background-color: color.adjust($shadow_color, $alpha: -0.8);
      box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
    }

    &:active>label {
      background-color: color.adjust($shadow_color, $alpha: -0.7);
      box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
    }

  }

  .SysTray {
    padding-left: $space-between;
    padding-right: $space-between;
    border-radius: $radius;

    >* {
      margin-left: $space-between;
      margin-right: $space-between;
    }

    icon {
      -gtk-icon-theme: "WhiteSur-grey";
    }

    background-color: $bg3;
    box-shadow: $pressed-deepness $pressed-deepness 0px 0px $shadow-inner-color inset;
  }

  .ShowAudio {
    background-color: $accent;
    border-radius: $radius;

    &:hover>.Icons {
      box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
      background-color: color.adjust($shadow_color, $alpha: -0.8);
      // color: $bg2;
    }

    &:active>.Icons {
      box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
      background-color: color.adjust($shadow_color, $alpha: -0.7);
      // color: $bg3;
    }

    .Icons {
      border-radius: $radius;
      padding: 0 ($inner-margin*2);
      transition: $hover-time;
      color: $bg;

      &>box {
        transition: 0;
        min-width: 55px;
        font-size: 16px;

        &.muted {
          color: color.adjust($bg, $alpha: -0.5);
        }
      }

      icon {
        margin-top: $inner-margin;
        margin-bottom: $inner-margin;
        margin-left: $inner-margin;
        margin-right: 4px;
      }
    }
  }

  button.Media {
    border-radius: $radius;
    background-color: $accent;
    min-width: 30px;
    font-size: 16px;

    @keyframes playing-media {
      to {
        -gtk-icon-transform: rotate(360deg);
      }
    }

    icon {
      transition: $hover-time;
      animation: playing-media 2s linear infinite;
      animation-play-state: running;
      border-radius: $radius;
      color: $bg;
    }

    &.offline icon {
      animation: none;
      -gtk-icon-transform: rotate(0deg);
    }

    &.paused icon {
      animation-play-state: paused;
    }

    &:hover>icon {
      box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
      background-color: color.adjust($shadow_color, $alpha: -0.8);
      // color: $bg2;
    }

    &:active>icon {
      box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
      background-color: color.adjust($shadow_color, $alpha: -0.7);
      // color: $bg3;
    }

  }


  .RightBox {
    border-radius: $radius;
    padding: $inner-margin;

    &>*:first-child {
      margin-left: 0;
    }

    &>* {
      margin-left: $space-between;
    }

  }

  .PowerOptions {
    background-color: $fgMuted;
    border-radius: $radius;

    button {
      min-width: $font-size + 1pt + ($inner-margin * 2);
      margin: $inner-margin;
      border-radius: $radius;
      transition: $hover-time;

      &:hover {
        background-color: color.adjust($fg, $alpha: -0.8);
        box-shadow: $hover-deepness $hover-deepness 0px 0px $shadow-inner-color inset;
      }

      &:active {
        background-color: color.adjust($fg, $alpha: -0.5);
        box-shadow: $press-deepness $press-deepness 0px 0px $shadow-inner-color inset;
      }

      icon {
        color: $bg;
        font-size: 16px;
      }
    }

    .CloseOptions {
      background-color: $bg;

      &:hover {
        background-color: $bg1;
      }

      &:active {
        background-color: $bg2;
      }

      icon {
        color: $fg;
      }
    }
  }

  .Ethernet {
    border-radius: $radius;
    font-size: 16px;
    color: $bg;
    min-width: 20pt;
    background-color: $fg;

    &.connected {
      background-color: $green;
    }

    &.connecting {
      background-color: $yellow;
    }

    &.disconnected {
      background-color: $orange;
    }

    &.offline,
    &.failed,
    &.unavailable {
      background-color: $red;
    }
  }
}
