@use "sass:color";

$font: "Noto Serif";
$radius: 2pt;
$hover-time: 200ms;
$bar-side-margins: 5pt;
$inner-margin: 2.5pt;
$space-between: 4pt;
$bar-min-height: 22pt;
$font-size: 12pt;

// colors
//dark
// $bg: #1D2021;
// $bg1: #3C3836;
// $bg2: #504945;
// $bg3: #665C54;
// $bg4: #7C6F64;
// $fg: #EBDBB2;
// $fgMuted: #A89984;

//light
$bg: #F2E5BC;
$bg1: #EBDBB2;
$bg2: #D5C4A1;
$bg3: #BDAE93;
$bg4: #A89984;
$fg: #282828;
$fgMuted: #7C6F64;

$red: #FB4934;
$redMuted: #CC241D;
$blue: #83A598;
$blueMuted: #458588;
$purple: #D3869B;
$purpleMuted: #B16286;
$orange: #FE8019;
$orangeMuted: #D65D0E;
$aqua: #8EC07C;
$aquaMuted: #689D6A;
$yellow: #FABD2F;
$yellowMuted: #D79921;
$green: #B8BB26;
$greenMuted: #98971A;

$accent: $redMuted;
$accentMuted: $red;


window.Bar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: $fg;
  font-size: $font-size;
  font-weight: bold;

  &>* {
    margin-bottom: $inner-margin;

    &>* {
      border: 1px solid $fg;
      background-color: $bg;
      box-shadow: 2px 2px 0px 0px color.adjust($fg, $alpha: -0.1);
    }
  }

  button {
    all: unset;
  }

  label {
    transition: $hover-time;
    font-family: $font;
    font-weight: 400;
  }

  .MiddleBox {
    border-radius: $radius;
    padding: $inner-margin;
  }

  .Workspaces {
    button:first-child {
      margin-left: 0;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      margin-left: $inner-margin;
      min-width: $bar-min-height;

      label {
        border-radius: $radius;
        color: $accent;
        font-size: 12pt;
        border: 1px solid $accent;
      }

      &:hover {
        label {
          background-color: $bg2;
          border-color: $accentMuted;
        }
      }

      &:active {
        label {
          background-color: $bg1;
          border-color: $accentMuted;
          color: $accentMuted;
        }
      }

      &.focused {
        label {
          color: $bg;
          background-color: $accent;
        }
      }

      &.special {
        label {
          background-color: $bg;
          border-color: $orangeMuted;
          color: $orange;
        }

        &.focused {
          label {
            background-color: $orange;
            color: $bg;
          }
        }
      }
    }

  }

  .LeftBox {
    margin-left: $bar-side-margins;
    border-radius: $radius;
    padding: $inner-margin;
  }

  .Time {
    padding: 0 $inner-margin*2;
    border-radius: $radius;
    background-color: $accent;
    font-weight: 800;
    color: $bg;
  }

  .Date {
    margin-left: $inner-margin;
    border-radius: $radius;
    transition: $hover-time;
    padding: 0 $inner-margin*2;

    &:hover {
      background-color: $bg1;
    }

    &:active {
      background-color: color.adjust($bg1, $alpha: -0.5);
    }

  }

  .Calendar {
    background-color: red;
    min-width: 100px;
    min-height: 100px;

    button {
      min-width: 2em;
    }
  }

  .SysTray {
    >* {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .AudioSlider {
    min-width: 270px;
    background-color: $accent;
    border-radius: $radius;
    padding: 0 ($inner-margin*3);

    * {
      all: unset;
    }

    button {
      min-width: $font-size + 1pt + ($inner-margin * 2);
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: $radius;

      &:hover {
        background-color: color.adjust($bg, $alpha: -0.84);
      }

      &:active {
        background-color: color.adjust($bg, $alpha: -0.5);
      }

      icon {
        color: $bg;
      }


      icon.Speaker {
        font-size: 1.4em;
      }

      icon.Microphone {
        font-size: 0.9em;
      }

    }


    trough {
      background-color: transparent;
      border: 1px solid $bg;
      border-radius: $radius;
      margin: 0 5px;
    }

    highlight {
      background-color: $bg;
      border-radius: $radius;
    }

    slider {
      background-color: $bg3;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.4em;
      border: 1px solid $bg;

      &:hover {
        background-color: $fgMuted;
      }
    }
  }

  .RightBox {
    border-radius: $radius;
    padding: $inner-margin;
    margin-right: $bar-side-margins;

    &>*:first-child {
      margin-left: 0;
    }

    &>* {
      margin-left: $space-between;
    }

  }

  .PowerOptions {
    background-color: $fg;
    border-radius: $radius;

    button {
      transition: $hover-time;
      min-width: $font-size + 1pt + ($inner-margin * 2);
      margin: $inner-margin;
      border-radius: $radius;

      &:hover {
        background-color: color.adjust($bg, $alpha: -0.84);
      }

      &:active {
        background-color: color.adjust($bg, $alpha: -0.5);
      }

      icon {
        color: $bg;
      }
    }

    .CloseOptions {
      background-color: $bg;

      &:hover {
        background-color: color.adjust($bg, $alpha: -0.15);
      }

      &:active {
        background-color: color.adjust($bg, $alpha: -0.35);
      }

      icon {
        color: $fgMuted;
      }
    }
  }

  .Ethernet {
    border-radius: $radius;
    font-size: 22px;
    color: $bg;
    min-width: 20pt;
    background-color: $green;

    &.activated {
      background-color: $aqua;
    }

    &.unknown {
      background-color: $yellow;
    }

    &.disconnected {
      background-color: $orange;
    }

    &.offline,
    &.failed,
    &.unavailable {
      background-color: $red;
    }
  }
}
