:root {
  background-color: #100F0F;
  font-family: serif;
  --red: #D14D41;
  --orange: #DA702C;
  --yellow: #D0A215;
  --green: #879A39;
  --cyan: #3AA99F;
  --blue: #4385BE;
  --purple: #8B7EC8;
  --magenta: #CE5D97;
  --fg: #CECDC3;
  color: var(--fg);
  text-align: center;
}

html,
body {
  height: 99%;
  margin: 0px;
  padding: 0px;
}

#particles-js {
  height: 100%;
  background-color: #100F0F;
  z-index: -1;
}

main {
  position: absolute;
  z-index: 0;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

h1 {
  --text-length: 10;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1ch solid;
  border-right-color: #FFFCF0;
  /* Animation */
  --animation-delay: 500ms;
  --write-duration: 1s;
  --caret-delay: calc(var(--write-duration) + var(--animation-delay));
  animation: typewriter var(--write-duration) steps(var(--text-length)) var(--animation-delay) normal both,
    blinkTextCursor 1s steps(2, jump-none) var(--caret-delay) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 10ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #FFFCF0;
  }

  to {
    border-right-color: transparent;
  }
}

h2 {
  margin-top: 0;
  /*margin-bottom: 0;*/
  font-family: monospace;
  font-weight: normal;
  font-size: 1.8rem;
}

h3 {
  /*margin-top: 0;*/
  margin-bottom: 0;
  font-weight: normal;
  border: 1px solid;
  padding: 0 5px;
}

#shortcuts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  min-height: 200px;

  border: 1px solid var(--fg);
  padding: 3rem 2.5rem;

  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px 10px #0000002A;
  border-radius: 10px;
}

.column {
  min-width: 10ch;
  max-width: 10ch;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 1px solid gray;
  padding: 0 2rem;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
  border-right: none;
}

.column>h3:nth-child(2) {
  margin-top: 0;
}

a {
  pointer-events: fill;
  color: var(--fg);
  text-decoration: none;
  transition: 200ms;
  margin: 7px 0;
  line-height: 1.2rem;
}

a:visited {
  color: var(--fg);
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  color: unset;
  text-shadow: 0 0 5px;
}
