[Unit]
Description=astal-%i
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.config/astal-widgets/start.bash %i
Restart=on-failure
RestartSec=1s
Slice=app-graphical.slice
MemoryMax=20M
MemorySwapMax=100M

[Install]
WantedBy=graphical-session.target
