[Unit]
Description=Astal Notifications
After=wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
ExecStart=/home/francisco/.config/astal-widgets/start.fish notifications
ExecReload=/home/francisco/.config/astal-widgets/start.fish notifications
Type=simple
Restart=on-failure

[Install]
WantedBy=wayland-session@hyprland.desktop.target
