[Unit]
Description=Caelestia shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/caelestia shell
Restart=on-failure

[Install]
WantedBy=graphical-session.target
