@use "sass:color";

$bg: #100f0f !default;
$bg1: #282726 !default;
$bg2: #403e3c !default;
$bg3: #575653 !default;
$bg4: #6f6e69 !default;
$fg: #cecdc3 !default;
$fg_muted: #878580 !default;

$red_muted: #af3029 !default;
$red: #d14d41 !default;
$blue_muted: #205ea6 !default;
$blue: #4385be !default;
$purple_muted: #5e409d !default;
$purple: #8b7ec8 !default;
$orange_muted: #bc5215 !default;
$orange: #da702c !default;
$aqua_muted: #24837b !default;
$aqua: #3aa99f !default;
$yellow_muted: #ad8301 !default;
$yellow: #d0a215 !default;
$green_muted: #66800b !default;
$green: #879a39 !default;

$accent: $yellow !default;
$accent_muted: $yellow !default;
$accent_greyscale: color.grayscale($accent) !default;
$accent_greyscale_muted: color.grayscale($accent_muted) !default;

$font: "Bitcount Prop Single" !default;
$font_mono: "Bitcount Grid Single" !default;
$font_digits: "Bitcount Single" !default;
$font_size: 14pt !default;
$radius: 8px !default;
$hover_time: 200ms !default;
$bar_side_margins: 5px !default;
$inner_margin: 3px !default;
$space_between: 4px !default;
$shadow_distance: 0px !default;
$shadow_blur: 0px !default;
$shadow_scale: 0px !default;
$shadow_color: transparent !default;
$shadow_outer_color: color.adjust($shadow_color, $alpha: -0.2) !default;
$shadow_inner_color: color.adjust($shadow_color, $alpha: -0.2) !default;

$window_border_size: 1px;
$window_border: $window_border_size solid $accent !default;

$button_border_size: 2px;
$button_border: $button_border_size dotted color.adjust($accent, $alpha: -0.5) !default;

$bar_min_height: 33px !default;

// buttons
$hover-deepness: 1px !default;
$pressed-deepness: 2px !default;
$press-deepness: 3px !default;
