@use "sass:color";
@use "colors.scss" as colors;

$bg: colors.$background !default;
$bg1: colors.$surface_container !default;
$bg2: colors.$surface_container_high !default;
$bg3: colors.$surface_container_highest !default;
$bg4: colors.$surface_variant !default;
$fg: colors.$secondary;
$fg_muted: colors.$secondary_container !default;

$red_muted: colors.$on_error !default;
$red: colors.$error_container !default;
$blue_muted: #205ea6 !default;
$blue: #4385be !default;
$purple_muted: #5e409d !default;
$purple: #8b7ec8 !default;
$orange_muted: #bc5215 !default;
$orange: #da702c !default;
$aqua_muted: #24837b !default;
$aqua: #3aa99f !default;
$yellow_muted: #ad8301 !default;
$yellow: #d0a215 !default;
$green_muted: #66800b !default;
$green: #879a39 !default;

$accent: colors.$primary !default;
$accent_muted: colors.$primary_container !default;
$accent_greyscale: color.grayscale($accent) !default;
$accent_greyscale_muted: color.grayscale($accent_muted) !default;

$font: "jetbrainsmono nerd font" !default;
$font_mono: "jetbrainsmono nerd font" !default;
$font_digits: "jetbrainsmono nerd font" !default;
$font_size: 11pt !default;
$radius: 0 !default;
$hover_time: 200ms !default;
$bar_side_margins: 5px !default;
$inner_margin: 3px !default;
$space_between: 8px !default;
$shadow_distance: 0px !default;
$shadow_blur: 0px !default;
$shadow_scale: 2px !default;
$shadow_color: black !default;
$shadow_outer_color: color.adjust($shadow_color, $alpha: 0) !default;
$shadow_inner_color: color.adjust($shadow_color, $alpha: -0.2) !default;
$window_shadow: $shadow_distance $shadow_distance $shadow_blur $shadow_scale
  $shadow_outer_color;

$window_border_size: 1px;
$window_border: $window_border_size solid $accent !default;

$button_border_size: 1px;
$button_border: $button_border_size solid $accent !default;

$bar_min_height: 30px !default;

// buttons
$hover-deepness: 1px !default;
$pressed-deepness: 2px !default;
$press-deepness: 3px !default;
