@use "sass:color";

$bg: #100f0f !default;
$bg1: #282726 !default;
$bg2: #403e3c !default;
$bg3: #575653 !default;
$bg4: #6f6e69 !default;
$fg: #cecdc3 !default;
$fgMuted: #878580 !default;

$redMuted: #af3029 !default;
$red: #d14d41 !default;
$blueMuted: #205ea6 !default;
$blue: #4385be !default;
$purpleMuted: #5e409d !default;
$purple: #8b7ec8 !default;
$orangeMuted: #bc5215 !default;
$orange: #da702c !default;
$aquaMuted: #24837b !default;
$aqua: #3aa99f !default;
$yellowMuted: #ad8301 !default;
$yellow: #d0a215 !default;
$greenMuted: #66800b !default;
$green: #879a39 !default;

$accent: $red !default;
$accentMuted: $redMuted !default;

$font: "Major Mono Display" !default;
$font_digits: "Major Mono Display" !default;
$font_size: 11pt !default;
$radius: 16px !default;
$hover_time: 200ms !default;
$bar_side_margins: 5px !default;
$inner_margin: 3px !default;
$space_between: 4px !default;
$bar_min_height: 32px !default;
$shadow_distance: 0 !default;
$shadow_blur: 4px !default;
$shadow_scale: 0 !default;
$shadow_color: #000000 !default;
$shadow_outer_color: color.adjust($shadow_color, $alpha: -0.1) !default;
$shadow_inner_color: color.adjust($shadow_color, $alpha: -0.2) !default;
$window_border_settings: 1px solid !default;
$window_border: $window_border_settings $accent !default;
$window_border_alt: $window_border_settings color.adjust($accent, $alpha: -0.5) !default;

// buttons
$hover-deepness: 1px !default;
$pressed-deepness: 2px !default;
$press-deepness: 3px !default;
